.explore-btn{
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    line-height: 18px;   
    padding: 20px 10px;
    border: none;
    border-radius: 10px;
    color: rgba(33, 31, 84, 1);
    background: #fff;
    box-shadow: 1px 1px 5px #d5d4d4;
}